---
import Layout from '../layouts/Layout.astro';
import FAQ from '../components/FAQ.astro';
import Reviews from '../components/Reviews.astro';
import CTA from '../components/CTA.astro';
import Hero from '../components/Hero.astro';
import ChecklistItem from '../components/ChecklistItem.astro';
import { Image } from 'astro:assets';

// JSON data imports
import faqData from '../../public/data/faq.json';
import videoExamples from '../../public/data/video-examples.json';
import reviewsData from '../../public/data/reviews.json';
import ttvImage from '../assets/TTV.png';

const pageTitle = 'Professional AI Video Generator Software | Synthesys';
const canonicalURL = 'https://synthesys.io/ai-video';
const metaDescription = 'Lifelike AI Video Generator. Real Humans & Real Voices helps you create multi-lingual videos without having to hire actors, cameras, or audio equipment.';

const videoFeatures = [
  {
    header: "Hi-Res Production Quality",
    content: "Viewers expect a life-like digital experience. Synthesys Human Studio offers a choice of resolutions to meet your TV, monitor, YouTube, social platforms, and web embedded requirements."
  },
  {
    header: "Distinguish Your Messaging",
    content: "Statistics show that viewers are 85% more likely to connect with and remember video content than reading text. Video content is quickly becoming the new norm in omnichannel marketing."
  },
  {
    header: "Pivot Quickly",
    content: "Answer the call for new content at a moment's notice. Address current events, product promotions, daily specials, and unplanned needs with our on-demand, 24/7 video production service."
  }
];

const whyVideoFeatures = [
  "Extensive choice of AI actors, voices, and backgrounds",
  "Templates readily available",
  "Easy-to-use ai text to video generator",
  "HD and 1080 Output",
  "Options to add branding elements, subtitles, and graphics",
  "Proprietary lip-synching technology",
  "Fully-integrated text to speech technology (66 languages + 254 voices)"
];
---

<Layout title={pageTitle} description={metaDescription} canonicalURL={canonicalURL} currentPage="video">
  <script src="https://cdn.jsdelivr.net/npm/@slightlyoff/lite-vimeo@0.1.2/lite-vimeo.min.js" type="module" defer></script>
  <main>

    <Hero
      icon="play"
      subtitleOrder="after"
      subtitle="Transform Your Text to a Realistic Virtual Video. . . with Synthesys Human Studio"
      title="The Power of AI Video is as Close as Your Imagination"
      heroImage={ttvImage}
      heroImageAlt="Text to Video Interface"
      heroImageWidth={652}
      heroImageHeight={583}
      ctaText="Get Started"
      ctaLink="#my-stars"
    />

    <!-- Video Description Start -->
    <div class="container">
      <svg class="w-full dotted-line stroke-bodycopy" height="1" fill="none">
        <line x1="1" x2="100%" y1="2" y2="2" stroke-width="4" stroke-linecap="butt" stroke-dasharray="2 8" />
      </svg>
      <div class="lg:flex items-center py-12 lg:py-16 xl:py-28">
        <img src="/images/video-image.svg" width="161" height="144" alt="" loading="lazy" decoding="async" class="mx-auto w-20 sm:w-36 lg:w-44" />
        <div class="lg:w-9/12 lg:ml-auto max-w-5xl lg:pl-6 mt-8 lg:mt-0">
          <div class="leading-loose lg:leading-9 text-sm lg:text-xl">
            Want to move beyond TTS? Dive into SYNTHESES Human Studio, where you can produce your own text to video presentation in minutes. No cameras, third-party software, or prerecorded voiceover is needed. SYNTHESES Human Studio gives you all the tools you need right at your fingertips for text to ai video. Need Version B or multi-lingual TTV? No problem. Edit on the fly, change avatars, script, or voices in minutes. Add your logo and call to action for greater brand awareness and higher conversions.
          </div>
        </div>
      </div>
    </div>
    <!-- Video Description End -->

    <!-- Text-to-Video Steps Start -->
    <section class="bg-black py-12 lg:py-32">
      <div class="container">
        <div class="uppercase text-2xl lg:text-3xl leading-normal font-bold text-white heading-accent flex flex-col items-start before:block before:mb-5 lg:before:mb-16 before:border-green before:w-12 before:border-t-3">
          <h2>Create your ai text-to-video in 5 easy steps</h2>
        </div>

        <div class="grid gap-10 lg:gap-12 xl:gap-15 lg:grid-cols-5 mt-9 lg:mt-20">
          <div class="flex gap-5 lg:gap-0 lg:flex-col">
            <div class="flex flex-col lg:flex-row items-center justify-between">
              <div class="rounded-full border border-dark-green w-18 h-18 lg:w-24 lg:h-24 xl:w-32 xl:h-32 grid place-items-center relative text-green">
                <svg class="w-7 h-7 lg:w-10 lg:h-10 xl:w-14 xl:h-14 fill-white" style="transform: translate3d(1px, 1px, 0);">
                  <use xlink:href="/icons/sprite.svg#icon-spokesperson"></use>
                </svg>
                <div class="step-count bg-current w-8 h-8 lg:w-10 lg:h-10 xl:w-12.5 xl:h-12.5 rounded-full grid place-items-center absolute -bottom-2 -left-2 lg:-bottom-4 lg:-left-4">
                  <span class="text-black font-semibold text-sm lg:text-[22px]">1</span>
                </div>
              </div>
              <div class="flex-1 scale-125 xl:scale-150 xl:translate-x-4 pl-6 ml-auto hidden lg:block">
                <svg class="w-full h-6 stroke-white" style="transform: translate3d(0, 10px, 0);">
                  <use xlink:href="/icons/sprite.svg#round-arrow-short"></use>
                </svg>
              </div>
            </div>
            <div class="flex flex-col">
              <div class="text-lg lg:text-[22px] font-semibold text-white lg:mt-12.5">Choose Your Spokesperson</div>
              <p class="lg:leading-9 mt-4 lg:mt-7.5 max-w-lg">
                Select the best face (actor or actress) that fits YOUR business, brand, and story.
              </p>
            </div>
          </div>

          <div class="flex gap-5 lg:gap-0 lg:flex-col">
            <div class="flex flex-col lg:flex-row items-center justify-between">
              <div class="rounded-full border border-dark-green w-18 h-18 lg:w-24 lg:h-24 xl:w-32 xl:h-32 grid place-items-center relative text-green">
                <svg class="w-7 h-7 lg:w-10 lg:h-10 xl:w-14 xl:h-14 fill-white" style="transform: translate3d(1px, 1px, 0);">
                  <use xlink:href="/icons/sprite.svg#text-to-voiceover-step1"></use>
                </svg>
                <div class="step-count bg-current w-8 h-8 lg:w-10 lg:h-10 xl:w-12.5 xl:h-12.5 rounded-full grid place-items-center absolute -bottom-2 -left-2 lg:-bottom-4 lg:-left-4">
                  <span class="text-black font-semibold text-sm lg:text-[22px]">2</span>
                </div>
              </div>
              <div class="flex-1 scale-125 xl:scale-150 xl:translate-x-4 pl-6 ml-auto hidden lg:block">
                <svg class="w-full h-6 stroke-white" style="transform: translate3d(0, -10px, 0) scaleY(-1);">
                  <use xlink:href="/icons/sprite.svg#round-arrow-short"></use>
                </svg>
              </div>
            </div>
            <div class="flex flex-col">
              <div class="text-lg lg:text-[22px] font-semibold text-white lg:mt-12.5">Choose the voice of your AI Video</div>
              <p class="lg:leading-9 mt-4 lg:mt-7.5 max-w-lg">You have control over every aspect of voice and tone.</p>
            </div>
          </div>

          <div class="flex gap-5 lg:gap-0 lg:flex-col">
            <div class="flex flex-col lg:flex-row items-center justify-between">
              <div class="rounded-full border border-dark-green w-18 h-18 lg:w-24 lg:h-24 xl:w-32 xl:h-32 grid place-items-center relative text-green">
                <svg class="w-7 h-7 lg:w-10 lg:h-10 xl:w-14 xl:h-14 fill-white">
                  <use xlink:href="/icons/sprite.svg#icon-script"></use>
                </svg>
                <div class="step-count bg-current w-8 h-8 lg:w-10 lg:h-10 xl:w-12.5 xl:h-12.5 rounded-full grid place-items-center absolute -bottom-2 -left-2 lg:-bottom-4 lg:-left-4">
                  <span class="text-black font-semibold text-sm lg:text-[22px]">3</span>
                </div>
              </div>
              <div class="flex-1 scale-125 xl:scale-150 xl:translate-x-4 pl-6 ml-auto hidden lg:block">
                <svg class="w-full h-6 stroke-white" style="transform: translate3d(0, 10px, 0);">
                  <use xlink:href="/icons/sprite.svg#round-arrow-short"></use>
                </svg>
              </div>
            </div>
            <div class="flex flex-col">
              <div class="text-lg lg:text-[22px] font-semibold text-white lg:mt-12.5">Add Your Script</div>
              <p class="lg:leading-9 mt-4 lg:mt-7.5 max-w-lg">Copy & paste (or type) your script into our interface.</p>
            </div>
          </div>

          <div class="flex gap-5 lg:gap-0 lg:flex-col">
            <div class="flex flex-col lg:flex-row items-center justify-between">
              <div class="rounded-full border border-dark-green w-18 h-18 lg:w-24 lg:h-24 xl:w-32 xl:h-32 grid place-items-center relative text-green">
                <svg class="w-7 h-7 lg:w-10 lg:h-10 xl:w-14 xl:h-14 fill-white">
                  <use xlink:href="/icons/sprite.svg#icon-image"></use>
                </svg>
                <div class="step-count bg-current w-8 h-8 lg:w-10 lg:h-10 xl:w-12.5 xl:h-12.5 rounded-full grid place-items-center absolute -bottom-2 -left-2 lg:-bottom-4 lg:-left-4">
                  <span class="text-black font-semibold text-sm lg:text-[22px]">4</span>
                </div>
              </div>
              <div class="flex-1 scale-125 xl:scale-150 xl:translate-x-4 pl-6 ml-auto hidden lg:block">
                <svg class="w-full h-6 stroke-white" style="transform: translate3d(0, -10px, 0) scaleY(-1);">
                  <use xlink:href="/icons/sprite.svg#round-arrow-short"></use>
                </svg>
              </div>
            </div>
            <div class="flex flex-col">
              <div class="text-lg lg:text-[22px] font-semibold text-white lg:mt-12.5">Select Your Background</div>
              <p class="lg:leading-9 mt-4 lg:mt-7.5 max-w-lg">
                Choose from a wide range of Synthesys backgrounds or upload your own.
              </p>
            </div>
          </div>

          <div class="flex gap-5 lg:gap-0 lg:flex-col">
            <div class="flex flex-col lg:flex-row items-center justify-between">
              <div class="rounded-full border border-dark-green w-18 h-18 lg:w-24 lg:h-24 xl:w-32 xl:h-32 grid place-items-center relative text-green">
                <svg class="w-7 h-7 lg:w-10 lg:h-10 xl:w-14 xl:h-14 fill-white">
                  <use xlink:href="/icons/sprite.svg#text-to-voiceover-step3"></use>
                </svg>
                <div class="flex-none step-count bg-current w-8 h-8 lg:w-10 lg:h-10 xl:w-12.5 xl:h-12.5 rounded-full grid place-items-center absolute -bottom-2 -left-2 lg:-bottom-4 lg:-left-4">
                  <span class="text-black font-semibold text-sm lg:text-[22px]">5</span>
                </div>
              </div>
            </div>
            <div class="flex flex-col">
              <div class="text-lg lg:text-[22px] font-semibold text-white lg:mt-12.5">Click "Create"</div>
              <p class="lg:leading-9 mt-4 lg:mt-7.5 max-w-lg">Rendering time will vary depending on the length of your video.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Text-to-Video Steps End -->

    <!-- CalltoAction Start -->
    <section class="py-12 lg:py-20 bg-green" id="my-stars">
      <div class="container">
        <CTA
          icon="allstar-cast"
          sectionTitle="Meet Your All-Star Cast"
          contentTitle=""
          description="Human Synthesys Studio creates completely life-like human spokespeople, that say exactly what you want them to say. They are not avatars. Instead, we're calling them 'Humatars' and they are the new standard for spokespeople in video. <a href='/ai-avatars/' class='text-dark-blue text-sm font-bold hover:opacity-70'>See the Humatars here</a>"
          showButton={false}
          backgroundColor="green"
          paddingY="py-0"
        />

        <!-- Video Examples Start -->
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12 mt-16 lg:mt-20">
          {videoExamples.map((video) => (
            <div class="video-example brightness-125 grayscale hover:grayscale-0 hover:brightness-100 transition-all duration-500 md:last:hidden xl:last:block">
              <h3 class="text-dark-green font-semibold text-xl text-center">{video.title}</h3>
                <lite-vimeo videoid={video.id} class="h-full w-full mt-4 aspect-video" autoload videotitle={video.title} title={video.title} loading="lazy">
                  <div class="absolute inset-0 bg-gradient-to-t from-black/50 to-transparent flex items-center justify-center">
                    <div class="w-16 h-16 bg-white/90 rounded-full flex items-center justify-center hover:bg-white transition-colors">
                      <svg class="w-6 h-6 fill-black ml-1">
                        <use xlink:href="/icons/sprite.svg#icon-facebook"></use>
                      </svg>
                    </div>
                  </div>
                </lite-vimeo>
              </div>

            </div>
          ))}
        </div>
        <!-- Video Examples End -->
      </div>
    </section>
    <!-- CalltoAction End -->

    <!-- Features List Start -->
    <section class="py-12 lg:py-30">
      <div class="container">
        <ul class="check-list sm:ml-10 sm:mx-28 text-green space-y-7 lg:space-y-13 text-sm leading-tight lg:text-base lg:leading-loose">
          {videoFeatures.map((feature) => (
            <ChecklistItem header={feature.header} content={feature.content} />
          ))}
        </ul>
      </div>
    </section>
    <!-- Features List End -->

    <!-- Reviews -->
    <Reviews color="green" reviewsData={reviewsData} />

    <!-- Why AI Video Start -->
    <section class="bg-black py-12 lg:py-30">
      <div class="container">
        <div class="lg:flex">
          <div class="lg:w-5/12 lg:max-w-lg">
            <div class="border-[10px] border-green p-10 lg:p-16">
              <div class="uppercase text-white lg:text-green text-2xl leading-loose lg:text-3xl lg:leading-relaxed font-bold">
                NO PRIOR SKILLS OR EXPERIENCE NEEDED, FULLY WEB-BASED, ACCESS FROM ANYWHERE,<br />CANCEL ANYTIME
              </div>
              <div class="mt-4 lg:mt-12 lg:text-white text-sm lg:text-lg leading-loose">
                Synthesys Human Studio sells itself so what better way to see the power of virtual video than to create yours, free of charge.
              </div>
            </div>
          </div>
          <div class="lg:w-7/12 lg:pl-20 xl:pl-30 2xl:pl-36">
            <div class="mt-15 lg:mt-0 uppercase text-2xl lg:text-3xl leading-normal font-bold text-white heading-accent flex flex-col items-start before:block before:mb-5 lg:before:mb-16 before:border-green before:w-12 before:border-t-3">
              Why synthesys human studio ai video generator?
            </div>

            <ul class="check-list text-green mt-7 lg:mt-14 text-sm leading-tight lg:text-base lg:leading-loose space-y-4 lg:space-y-5">
              {whyVideoFeatures.map((feature) => (
                <ChecklistItem content={feature} />
              ))}
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- Why AI Video End -->

    <!-- Call to Action Start -->
    <CTA
      icon="developer-tools"
      sectionTitle="Are you a developer?"
      contentTitle="AI Text to Video API"
      description="Integrate Synthesys Human Studio API to your product or marketing message. Text-to-video technology is ideal for instructions or variable prompted messaging. Contact our technical team for more information."
      link="/ai-text-to-speech"
      linkText="Need a Quick Text-to-Speech Voiceover?"
      backgroundColor="green"
    />
    <!-- Call to Action End -->

    <!-- Frequently Asked Questions -->
    <FAQ color="green" faqData={faqData} />
  </main>




</Layout>
