---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MobileNav from '../components/MobileNav.astro';
import SpeedInsights from '@vercel/speed-insights/astro';
import '../css/global.css';

export interface Props {
  title: string;
  description?: string;
  canonicalURL?: string;
  currentPage?: string;
}

const {
  title,
  description = "AI Voiceover and AI Video Generator",
  canonicalURL,
  currentPage = 'home'
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {canonicalURL && <link rel="canonical" href={canonicalURL} />}


    <slot name="preload" />

    <style>
        @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url('/public/fonts/montserrat300.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('/public/fonts/montserrat400.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url('/public/fonts/montserrat500.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url('/public/fonts/montserrat600.woff2') format('woff2');
      }


      @font-face {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url('/public/fonts/montserrat700.woff2') format('woff2');
      }

  </style>


    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@11.2.10/swiper-bundle.min.css" media="print" onload="this.onload=null;this.removeAttribute('media');" />

    <title>{title}</title>
  </head>
  <body>
    <!-- Header -->
    <Header currentPage={currentPage} />

    <!-- Main Content -->
    <slot />

    <!-- Footer -->
    <Footer />

    <!-- Mobile Navigation -->
    <MobileNav currentPage={currentPage} />

    <!-- Vercel Speed Insights -->
    <SpeedInsights />

    <!-- Scripts -->
    <script src="https://unpkg.com/swiper@11.2.10/swiper-bundle.min.js" defer></script>
  </body>
</html>
