---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MobileNav from '../components/MobileNav.astro';
import '../css/fonts.css';
import '../css/global.css';

export interface Props {
  title: string;
  description?: string;
  canonicalURL?: string;
  currentPage?: string;
}

const {
  title,
  description = "AI Voiceover and AI Video Generator",
  canonicalURL,
  currentPage = 'home'
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    {canonicalURL && <link rel="canonical" href={canonicalURL} />}

     <!-- Preload critical font files FIRST -->
     <link rel="preload" href="/fonts/montserrat300.woff2" as="font" type="font/woff2" crossorigin />
     <link rel="preload" href="/fonts/montserrat400.woff2" as="font" type="font/woff2" crossorigin />
     <link rel="preload" href="/fonts/montserrat600.woff2" as="font" type="font/woff2" crossorigin />
     <link rel="preload" href="/fonts/montserrat700.woff2" as="font" type="font/woff2" crossorigin />
     <slot name="preload" />


    <title>{title}</title>
  </head>
  <body>
    <!-- Header -->
    <Header currentPage={currentPage} />

    <!-- Main Content -->
    <slot />

    <!-- Footer -->
    <Footer />

    <!-- Mobile Navigation -->
    <MobileNav currentPage={currentPage} />

    <!-- Scripts -->
  </body>
</html>
